body {
    min-height: 100vh; /*what does this mean*/
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif; 

    
}
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
    width: 800px;
    align-self: center;
    
    
}

.logo{
    font-weight: 900;
}
.links{
    display: flex;
    padding: 0px;
    list-style: none;
    color:  white;
    
}
li{
    padding: 8px;

}

a{
    text-decoration: none; /*why does this need to be applied to an anchor?*/
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1; 
}
.section1, .section2, .section3, .section4{
    flex: 1;
}
.section1{
  color: white;
  display: flex;
  width: 1000px;
  display: flex;
  justify-content: center; 
  align-items: center;
  align-self: center;
}
.intro{
    width: 400px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 5px; 
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px; 

}
.button1{
    background-color: #3882F6;
    border: 0px; 
    border-radius: 5px;
    padding: 4px 16px; 
    color: white; 
    margin: 5px; 
    font-weight: 900;
}
.placeholder{
    width: 400px;
    height: 200px; 
    background-color: grey; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.section2{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.information{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 12px; 
}
.info{
    display: flex;
}
.square{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    border-color: #3882F6;
    margin: 8px; 
}
.cards{
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.card{
    text-align: center;
    width: 150px;

}
.section3{
    background-color: #e5e7eb;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    font-weight: 300;
    font-size: 36px;
    color: #1F2937; 
    width: 900px; 
}
.speaker{
    font-weight:900;
    width: 800px; 
    text-align: end;

}
.section4{
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.rectangle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 125px; 
    border-radius: 10px;
    

}

.action{
    color: white;
    font-size: 18px;
    font-weight: 900;
}
.product{
    color: white;

}
.button2{
    width: 100px;
    height: 28px;
    color: white;
    background-color: #3882F6;
    border-color: white;
    border-radius: 5px;
    border-width: 2px;
    font-weight: bold;
    
}
.footer {
    color: white;
    text-align: center;
    margin: 24px;
}